<template>
  <Header />
  <div class="intro-page">
    <div class="intro-content">
      <div class="flex">
        <div class="w-1/4 mr-4">
          <h2>Ons advies</h2>
          <p>
            Wij hebben de perfecte locatie gevonden voor jouw business op basis
            van concurrentieonderzoek, bevolkingsgegevens, aantal werkzoekenden
            en beschikbare vastgoed.
          </p>
          <ul>
            <li>
              <h3>Bevolking</h3>
              <p>
                95% van de bevolking heeft een baan. Het gemiddelde inkomen is
                €3500 bruto per maand. Wij denken dat de vraag dus groot zal
                zijn naar kinderopvang.
              </p>
            </li>
            <li>
              <h3>Werkzoekenden</h3>
              <p>
                In de omgeving zijn 440 open vacature. Daaruit blijkt dat de
                vraag naar medewerkers hoger is dan het aanbod.
              </p>
            </li>
            <li>
              <h3>Concurrentie</h3>
              <p>
                Per 1200 bewoners zijn er 2 kinderdagverblijven. Dit is 30%
                lager dan het gemiddelde in Amsterdam.
              </p>
            </li>
            <li>
              <h3>Panden</h3>
              <p>
                Er zijn 7 panden gevonden die geschikt zijn voor
                kinderdagverblijven.
              </p>
            </li>
          </ul>
        </div>
        <div class="w-3/4">
        <img src="/test.png"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "./Header";

export default {
  name: "Dashboard",
  components: {
    Header,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h2 {
  font-size: 2em;
  font-weight: bold;
}
.intro-content {
  padding: 24px 0 0 24px;
}

ul {
  margin-top: 16px;
}

h3 {
  font-weight: bold;
}

li {
  margin-bottom: 24px;
}
</style>
