<template>
  <nav class="bg-white border-b">
    <div class="mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative h-16 pt-3">
        <div class="w-full">
          <div class="flex items-center">
            <div class="w-1/4 text-left">
            <router-link to="/" tag="h1" class="text-black text-2xl font-extrabold">HetIsVastGoed.</router-link>
            </div>
            <div class="w-3/4 text-left" v-if="!isIntro">
              <select
                  id="branche"
                  name="branche"
                  autocomplete="branche"
                  style="padding: 9px 15px; font-size:10pt"
                  class="bg-gray-200 rounded-xl ml-3 pt-3 w-1/5"
              >
                <option>Auto Garage</option>
                <option>Kinderdagverblijf</option>
                <option>Sportschool</option>
              </select>
              <input type="text" class="bg-gray-200 rounded-xl ml-3 py-5 w-1/5" style="padding: 9px 15px;  font-size:10pt" placeholder="Amsterdam">
              <select
                  id="range"
                  name="range"
                  autocomplete="range"
                  style="padding: 9px 15px; font-size:10pt"
                  class="bg-gray-200 rounded-xl ml-3 pt-3"
              >
                <option>within 20km</option>
                <option>within 40km</option>
                <option>within 80km</option>
                <option>within 120km</option>
              </select>
              <button class="bg-gray-900 text-white rounded-xl py-2 text-sm font-bold px-10 ml-3">Ga</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </nav>


</template>

<script>
export default {
  name: 'Header',
  props: {
    isIntro: {
      default: false
    }
  }
};
</script>

<style scoped>

</style>
