<template>
  <Header isIntro="true"/>
  <div class="intro-page">
    <form class="intro-form">
      <div class="col-span-6 sm:col-span-3">
        <div class="input-wrap mb-16">
          <label for="branche" class="block text-l font-medium text-gray-700"
          >In welke branche blink jij uit?</label
          >
          <select
              id="branche"
              name="branche"
              autocomplete="branche"
              class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          >
            <option>Auto Garage</option>
            <option>Kinderdagverblijf</option>
            <option>Sportschool</option>
          </select>
        </div>
        <div class="input-wrap mb-6">
          <label for="range" class="block text-l font-medium text-gray-700"
          >Waar wil je jouw bedrijf vestigen</label
          >
          <div class="location-wrap">
            <div class="city-wrap">
              <input
                  list="places"
                  type="text"
                  name="city"
                  id="city"
                  class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              />
              <datalist id="places">
                <option>Almere</option>
                <option>Akkersloot</option>
                <option>Amsterdam</option>
                <option>Amstelveen</option>
                <option>Assen</option>
              </datalist>
              <svg
                  class="seach-icon"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
              >
                <path
                    d="M19 19L13 13M15 8C15 8.91925 14.8189 9.82951 14.4672 10.6788C14.1154 11.5281 13.5998 12.2997 12.9497 12.9497C12.2997 13.5998 11.5281 14.1154 10.6788 14.4672C9.82951 14.8189 8.91925 15 8 15C7.08075 15 6.1705 14.8189 5.32122 14.4672C4.47194 14.1154 3.70026 13.5998 3.05025 12.9497C2.40024 12.2997 1.88463 11.5281 1.53284 10.6788C1.18106 9.82951 1 8.91925 1 8C1 6.14348 1.7375 4.36301 3.05025 3.05025C4.36301 1.7375 6.14348 1 8 1C9.85652 1 11.637 1.7375 12.9497 3.05025C14.2625 4.36301 15 6.14348 15 8Z"
                    stroke="#371268"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
              </svg>
            </div>
            <select
                id="range"
                name="range"
                autocomplete="range"
                class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            >
              <option>within 20km</option>
              <option>within 40km</option>
              <option>within 80km</option>
              <option>within 120km</option>
            </select>
          </div>
        </div>
        <router-link to="/dashboard" tag="button" class="btn inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Bekijk resultaten</router-link>
      </div>
    </form>
  </div>
</template>

<script>
import Header from './Header';

export default {
  name: 'Intro',
  components: {
    Header,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.intro-page {
  display: flex;
  justify-content: center;
}

.intro-form {
  margin-top: 24px;
  text-align: center;
  width: 760px;
}

.location-wrap {
  display: flex;
}

.location-wrap > div {
  width: 70%;
  margin-right: 16px;
}

.location-wrap select {
  width: 30%;
}

.seach-icon {
  position: absolute;
  right: 16px;
  top: 12px;
}

.city-wrap {
  position: relative;
}

.btn {
  background: #ED752F;
}
</style>
